/.vscode/*
/.ipynb_checkpoints/*
config/
virtualenvs/
*catalog*.json
*config*.json
state.json
state_previous.json
target*.json
*.sublime-*
.python-version
singer-check-tap-data
*.pyc
*.egg-info
dist/
__pycache__/
venv/
build/
tap_covid_19/.vscode/settings.json
*.ipynb
.DS_Store
test_configuration.py
tap_target_commands.sh
